@{
    Layout = null;
}

<!--This page show customer's previous vehicle appointment.-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>  
    <div class="m-5">
            <b class="justify-content-center">Your Booking Details</b>
            <button class="btn-group">@Html.ActionLink("Book an Appointment", "Book")</button>
        @Html.Partial("Details")
    </div>    
</body>
</html>
